In [1]:
# Importing Library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Load dataset
df=pd.read_csv("Salary_Data.csv")

In [10]:
# Data Preprocessing

In [3]:
df.shape

(30, 2)

In [4]:
df.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 612.0 bytes

In [7]:
df.head(1)

   YearsExperience  Salary
0              1.1   39343

In [8]:
df.tail(1)

    YearsExperience  Salary
29             10.5  121872

In [9]:
df.sample(5)

    YearsExperience  Salary
19              6.0   93940
8               3.2   64445
5               2.9   56642
29             10.5  121872
16              5.1   66029

In [11]:
df.isna().sum()

YearsExperience    0
Salary             0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [ ]:
# Data cleaning 
# done

In [13]:
# Data spliting
x=df.drop(columns = "Salary")
y=df["Salary"]

In [ ]:
# Feature Engeneering/Preprocessing
# staderization/normalization
# Done

In [17]:
# Data training
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.3)

In [18]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(21, 1)
(9, 1)
(21,)
(9,)

In [20]:
# Model training
from sklearn.linear_model import LinearRegression
LR=LinearRegression()

In [21]:
model=LR.fit(x_train,y_train)

In [23]:
y_pred=model.predict(x_test)

In [24]:
y_pred

array([ 71656.05967514, 115203.02566198,  64082.67428612, 102896.27440483,
        37575.82542457,  63136.0011125 ,  52722.5962026 ,  35682.47907731,
        62189.32793887])

In [25]:
y_test

15     67938
26    116969
13     57081
23    113812
1      46205
12     56957
5      56642
0      39343
10     63218
Name: Salary, dtype: int64

In [28]:
# proformance metrix
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,root_mean_squared_error

In [29]:
score=r2_score(y_test,y_pred)
score

0.9470085425228426

In [30]:
MAE=mean_absolute_error(y_test,y_pred)
MSE=mean_squared_error(y_test,y_pred)
RMSE=root_mean_squared_error(y_test,y_pred)

In [31]:
print(MAE)
print(MSE)
print(RMSE)

5202.022929288717
36397906.172425315
6033.067724833305